/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/poppins?styles=20394,20390,20392');


/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"Digital-7 Mono";src:url("../fonts/digital7-mono/digital-7__mono_.eot?") format("eot"),url("../fonts/digital7-mono/digital-7__mono_.woff") format("woff"),url("../fonts/digital7-mono/digital-7__mono_.ttf") format("truetype"),url("../fonts/digital7-mono/digital-7__mono_.svg#Digital-7Mono") format("svg");font-weight:normal;font-style:normal;}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* @font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/myriad-pro/a89cf050c859a23e4b6d9cf5989acf9e.eot");
    src: url("../fonts/myriad-pro/a89cf050c859a23e4b6d9cf5989acf9e.eot?#iefix")format("embedded-opentype"),
    url("../fonts/myriad-pro/a89cf050c859a23e4b6d9cf5989acf9e.woff2")format("woff2"),
    url("../fonts/myriad-pro/a89cf050c859a23e4b6d9cf5989acf9e.woff")format("woff"),
    url("../fonts/myriad-pro/a89cf050c859a23e4b6d9cf5989acf9e.ttf")format("truetype"),
    url("../fonts/myriad-pro/a89cf050c859a23e4b6d9cf5989acf9e.svg#Myriad Pro")format("svg");
} */

/* @font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/babasneue/BebasNeue.eot");
    src: url("../fonts/babasneue/BebasNeue.eot?#iefix")format("embedded-opentype"),
    url("../fonts/babasneue/BebasNeue.woff2")format("woff2"),
    url("../fonts/babasneue/BebasNeue.woff")format("woff"),
    url("../fonts/babasneue/BebasNeueRegular-gxj83.ttf")format("truetype"),
    url("../fonts/babasneue/BebasNeue.svg#GE SS Two Medium")format("svg");
} */

@font-face {
    font-family: "GE SS Two Medium";
    src: url("../fonts/ge-ss-two-medium/125063e353c1f65c55ba1e3811969217.eot");
    src: url("../fonts/ge-ss-two-medium/125063e353c1f65c55ba1e3811969217.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ge-ss-two-medium/125063e353c1f65c55ba1e3811969217.woff2")format("woff2"),
    url("../fonts/ge-ss-two-medium/125063e353c1f65c55ba1e3811969217.woff")format("woff"),
    url("../fonts/ge-ss-two-medium/125063e353c1f65c55ba1e3811969217.ttf")format("truetype"),
    url("../fonts/ge-ss-two-medium/125063e353c1f65c55ba1e3811969217.svg#GE SS Two Medium")format("svg");
}

/* <weight>: Use a value from 300 to 800 */

/* .bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
} */
.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
.digital7 {
    font-family:"Digital-7 Mono"
}


body {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .06em;
    line-height: 100%;
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.arabic {
    font-family: "GE SS Two Medium";
}
.opacity-0 {
    opacity: 0;
}
.h-0 {
    max-height: 0;
}
.text-white {
    color: #fff;
}
.text-blue {
    color: #1966ae;
}
.text-green {
    color: #005135;
}
.text-black {
    color: #000;
}

.text-light {
    font-weight: 300;
}
.text-medium {
    font-weight: 500;
}
.text-semibold {
    font-weight: 600;
}
.text-bold {
    font-weight: bold;
}
.text-ex-bold {
    font-weight: 800;
}
.text-heavy {
    font-weight: 800;
}
.text-center {
    text-align: center;
}
.fontsize1 {
    font-size: 1rem;
}
.fontsize15 {
    font-size: 1.5rem;
}
.fontsize2 {
    font-size: 2rem;
}
.fontsize25 {
    font-size: 2.5rem;
}
.fontsize3 {
    font-size: 3rem;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.bg-black {
    background-color: #000000;
}
.hideNow {
    display: none !important;
}
.sm-only {
    display: none;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.d-flex {
    display: flex;
}
.jcc {
    justify-content: center;
}
.mt-auto {
    margin-top: auto;
}
.mt-1 {
    margin-top: 1rem;
}
.aic {
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.uppercase {
    text-transform: uppercase;
}
.text-shadow {
    text-shadow: -4px 4px 6px rgb(0 0 0);
}
.btn {
    background: #2d368f;
    display: flex;
    padding: 1rem 4rem;
}
a.start-here {
    width: 270px;
    margin: auto;
    max-width: 70%;
    border: 1px solid #fff;
    border-radius: 35px;
}
.congrats {
    text-align: center;
    max-width: max-content !important;
    font-size: 2rem;
    color: #ec1c24;
}
.prize-title {
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem 0 .7rem 0;
}
.outer-wraper {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ececec;
}
.homepage .outer-wraper {
    
    background-color: #fff;
}
.main {
    background: #200082;
   width: 450px;
   max-width: 100%;
   min-height: 100vh;
   margin: auto;
   overflow: hidden;
   position: relative;
   padding: 15px;
}

.homepage .header {
    width: 100%;
    background: url(../images/header-stadium.png) no-repeat bottom center;
    padding: 5rem 3rem 1.5rem;
    display: flex;
    justify-content: center;
}
.innerpages .header {
    width: 100%;
    background: url(../images/header-stadium-inner.png) no-repeat bottom center;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
/* .homepage .header img {
    width: 250px;
    max-width: 80%;
} */
.innerpages .main {
    width: 500px;
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
}
.headerlogos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.snickers-logo {
    width: 150px;
}
.alnassr-logo {
    width: 50px;
}
/* .beat-the-score {
    width: 300px;
    max-width: 80%;
    margin: auto;
} */
.bottom {
    width: 100%;
    background: #3c1400;
}
.score5 {
    width: 235px;
    margin: 3.25rem auto 2rem auto;
    max-width: 80%;
}
.finalpage .main {
    /* background: #ececec url(../images/green-inner-bg.webp) no-repeat top center;
    background-size: cover;  */
    width: 500px;
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
}

#scoreboard {
    background: rgb(60 20 0 / 50%);
    margin: 15px auto;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.time {
    font-size: 1.8rem;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}
.time .small {
    font-size: 1rem;
    margin-right: 5px;
}
.hunfan {
    font-size: 2rem;
}
.goals {
    display: flex;
}
.scorepoint {
    font-size: 3.5rem;
}
.goals-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    margin: 7px 5px;
}
.goals-col:first-child {
    border-right: 1px solid #fff;
    padding-right: 10px;
}
.goals-col:last-child {
    padding-left: 10px;
}

section {
    width: 100%;
}
.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}
.main-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: #ececec;
}
img.scan-win {
    width: 345px;
    max-width: 60%;
    top: 49%;
    left: 50%;
    z-index: 9;
    position: absolute;
    transform: translateX(-50%);
    animation: zoomTilt 3s infinite ease-in-out;
}
.alnassr {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 2rem 2.2rem 3rem;
}
.alnassr img {
    width: 100px;
    max-width: 45%;
}
.footer-left {
    position: absolute;
    bottom: 0;
    width: 150px;
    max-width: 50%;
    left: 0;
}
.court-bg {
    margin: auto;
    width: 100%;
    text-align: center;
}
#football_game {
    width: 450px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
    height: calc(100vh - 30px);
    overflow: hidden;
}
.innerpages #football_game .header {
    height: 30vh;
}
#game-container {
    height: calc(70vh - 30px);
    width: 100%;
    background: url(../images/court-bg.png) no-repeat top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div#goalpost {
    margin: -4vh auto 0 auto;
    width: 240px;
    max-width: 60%;
}
img#football {
    width: 70px;
    margin: auto auto 25px auto;
    position: absolute;
    bottom: 25px;
}
/* #timer {
    padding-left:10px
} */


@keyframes zoomTilt {
    0% {
        transform: translateX(-50%) scale(1) rotate(0deg);
    }
    25% {
        transform: translateX(-50%) scale(1.1) rotate(3deg);
    }
    50% {
        transform: translateX(-50%) scale(1) rotate(0deg);
    }
    75% {
        transform: translateX(-50%) scale(1.1) rotate(-3deg);
    }
    100% {
        transform: translateX(-50%) scale(1) rotate(0deg);
    }
}

#spin-page.main-container {
    margin-top: 0;
}
#spin-page.glitter {
    background: #efeff3 url('../images/glitter.png') no-repeat top center;
    background-size: contain;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}


.winwithtxt {
    position: relative; /* Needed for pseudo-element positioning */
    background: url(../images/dark-green-text-bg.webp) no-repeat top center;
    background-size: cover; /* Ensure the background covers the container */
    opacity: 0; /* Initially hidden */
    animation: fadeInBg 3s ease-in-out forwards; /* Fade-in animation for background and content */
    margin-top: -3px;
    padding: 0.6rem 2rem;
}
.winwithtxt.dark {
    position: relative; /* Needed for pseudo-element positioning */
    background: url(../images/xtra-dark-green-text-bg.webp) no-repeat top center;
    background-size: cover; /* Ensure the background covers the container */
    opacity: 0; /* Initially hidden */
    animation: fadeInBg 3s ease-in-out forwards; /* Fade-in animation for background and content */
    margin-top: -3px;
    padding: 0.6rem 2rem;
}
.fadeinimages {
    opacity: 0; /* Initially hidden */
    animation: fadeIn 2s ease-in-out forwards; /* 2-second fade-in effect */
}

/* Optional: Add delay for sequential fade-ins */
.lefttorightfade {
    animation-delay: 0s; /* First image, no delay */
}

.inout {
    animation: zoomInOut 2s ease-in-out infinite;  /* Second image, starts after the first one fades in */
}



/* Keyframes for fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInBg {
    0% {
        opacity: 0; /* Hidden */
    }
    50% {
        opacity: .3; /* Fully visible */
    }
    100% {
        opacity: 1; /* Fully visible */
    }
}
@keyframes zoomInOut {
    0% {
        transform: scale(1); /* Original size */
    }
    50% {
        transform: scale(1.05); /* Slight zoom-in (10% larger) */
    }
    100% {
        transform: scale(1); /* Back to original size */
    }
}


.main {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;    
}
.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: auto;
    position: absolute;
    top: 63%;
    padding: 15% 0;
    z-index: 1; /* Ensure content stays above the pseudo-element */
    background: url('../images/language-bg.png') center center no-repeat; /* Background color */
}
.submit-receiptbtn {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem 2.7rem;
    line-height: 1.8rem;
}
.submit-receiptbtn img {
    margin-top: 2rem;
}



.clickhere {
    display: inline-block;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid;
    border-radius: 10px;
    margin: 1rem auto;
    display: flex;
    width: max-content;
    padding: 1rem;
    font-size: 1.3rem;
  }
  .clickhere:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00934a;
    border-radius: 10px;
    z-index: -2;
    
  }
  .clickhere:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #016232;
    transition: all 0.3s;
    border-radius: 10px;
    z-index: -1;
  }
  .clickhere:hover {
    color: #fff;
  }
  .clickhere:hover:before {
    width: 100%;
  }


.innerpages .main {
    background-size: cover;
    margin: auto;
    min-height: 100vh;
}
.spin-footer {
    max-width: 85%;
    margin: auto auto 0 auto;
    display: none;
}
.spin-footer img {
    margin-bottom: 1.5rem;
}
.disclaimer {
    display: none;
}
a.downloadbtn {
    max-width: 150px;
    margin: 10px auto;
    display: block;
}
p#disclaimer {
    margin-bottom: 1.5rem;
    font-size: .75rem;
}
p#disclaimer strong {
    font-size: .9rem;
}

.spin-footer.show {
    display: block;
}
.disclaimer.show {
    display: block;
}
.win-cash {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 .5rem 0;
}
.win-cash img {
    width: 425px;
    max-width: 95%;
    height: auto;
    margin: 2rem 0;
}
.win-cash .vip-dine {
    width: 100%;
    display: flex;
    justify-content: center;
}
.win-cash .vip-dine img {
    margin-bottom: 0;
}
.win-cash h2 {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 8px;
    margin-top: .75rem;
    text-align: center;
    font-weight: 500;
    padding: 0 2.5rem;
}
.win-cash h2 small {
    font-size: 1.5rem;
    line-height: 3.75rem;;
}
.termsspl img {
    max-width: 100%;
    width: 250px;
    padding-top: 1rem;
}
.homepage footer.footer {
    background-color: #e1251b;
    margin-top: auto;
    /* padding-top: 2rem; */
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}
.select-lang span {
    display: block;
    width: 100%;
    text-align: center;
   
}
.select-lang a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #221f20;
    background-color: #fff;
    text-decoration: none;
    margin: 1rem 0;
    padding: 5px 0;
    border-radius: 8px;
    font-size: 1.35rem;
    padding: .6rem 0;
    border: 1px solid transparent;
    
}
.select-lang a:hover {
    border: 1px solid rgb(102 195 139);
    background-color: #e4e4e4;
}
.select-retailer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: auto;
    animation: fadeIn 3s ease-in-out forwards;
}
.retailers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    width: 300px;
    max-width: 100%;
    justify-self: center;
}

.retailers a {
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.retailers a:nth-child(5) {
    grid-column: span 2;
    justify-self: center;
}

/* Form */
.shop-form input, .shop-form select {
    width: 100%;
    outline: none;
    background: #eff3f7;
    border: none;
    outline: none;
    padding: 12px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #000;
    font-size: 1rem;
}
input#inputInvoice {
    height: 44px;
    padding-top: 10px;
    text-align: left;
    display: flex;
    padding-left: 1rem;
}

.shop-form input::placeholder, #getCoupon input::placeholder {
    color: #000;
}
#getCoupon input[type="text"] {
    width: 100%;
    outline: none;
    background: #eff3f7;
    border: none;
    outline: none;
    padding: 12px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #808080;
}
.invoice-upload {
    width: 100%;
    outline: none;
    border-radius: 8px;
    background-color: #eff3f7;
    cursor: pointer;
}
.invoice-wraper {
    background-color: var(--white);
    margin-bottom: 25px;
    /* padding: 15px 0 15px 15px; */
    color: var(--medium-grey);
    position: relative;
    padding: 0.1rem 0.1rem .1rem .5rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span.invoice-copy {
    color: #000;
    font-size: .85rem;
    text-align: left;
    font-weight: normal;
    
}
span.file-select {
    background: #009541;
    color: #fff;
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 8px;
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-buttons .submitnreset img {
    max-width: 150px;
}
input#customRadio1 {
    width: 18px;
    height: 18px;
    margin-right: 1px;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    float: left;
}
.form-check.custom-control.custom-radio.radio-btn {
    display: flex;
    justify-content: center;
    margin: 2rem 0 2.5rem 0;
}
.form-check.custom-control.custom-radio.radio-btn label {
    font-size: .75rem;
    text-align: center;
    line-height: .9rem;
    color: #005135;
   padding: 0 1.75rem;
}
.form-check.custom-control.custom-radio.radio-btn label .termsClick {
    font-size: .9rem;
}
/* Style the radio button */
.custom-control-input {
    appearance: none; /* Remove default radio button styling */
    width: 20px;
    height: 20px;
    border: 2px solid #0f9d58; /* Green border */
    border-radius: 50%; /* Make it circular */
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease; /* Smooth transition */
}

/* When the radio button is checked */
.custom-control-input:checked {
    background-color: #0f9d58; /* Green fill when checked */
    border-color: #0f9d58; /* Green border */
}

/* Add hover effect (optional) */
.custom-control-input:hover {
    box-shadow: 0 0 5px rgba(15, 157, 88, 0.5); /* Green glow on hover */
}

form#submitForm {
    margin: 0 2.5rem 4.5rem 2.5rem;
}

/* .campaign {
    margin-bottom: 4rem;
} */
.shop-form {
    width: 500px;
    margin: auto;
    max-width: 90%;
}
p.errormsg {
    color: white;
    text-shadow: none;
    margin-top: -12px;
    margin-bottom: 15px;
    padding: 6px 10px;
    background: red;
    /* border: 1px solid red; */
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: .2rem;
    line-height: 18px;
}
/* #invoice-err p.errormsg {
    margin-top: 0;
} */
.form-terms .lead {
    font-size: 1rem;
    text-align: center;
}
/* .form-terms .lead strong {
    font-weight: 900;
} */
.alert-message {
    background: red;
    padding: 7px;
    color: white;
    margin-bottom: 10px;
    border-radius: 9px;
}
/* Form */

.succMsg {
    background: #00934a;
    color: #fff;
    max-width: 70%;
    width: 280px;
    display: flex;
    margin: 5rem auto 0 auto;
    padding: 1.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
}
.succMsg::before {
    content: " ";
    width: 50px;
    height: 45px;
    background: url(../images/shapelefttop.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    left: -60px;
    top: -15px;
    animation: tiltZoom 2s infinite ease-in-out; /* Apply tilt and zoom animation */
}
.succMsg::after {
    content: " ";
    width: 50px;
    height: 45px;
    background: url(../images/shapeleftbottom.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    left: -60px;
    bottom: -15px;
    animation: tiltZoom 2s infinite ease-in-out; /* Apply tilt and zoom animation */
}
/* New third triangle */
.succMsg .extraShape {
    content: " ";
    width: 50px;
    height: 45px;
    background: url(../images/shaperight.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    right: -60px;
    top: -15px;
    animation: tiltZoom 2s infinite ease-in-out; /* Apply tilt and zoom animation */
}
/* Keyframes for tilt and zoom animation */
@keyframes tiltZoom {
    0% {
        transform: rotate(0deg) scale(1); /* Start at normal size */
    }
    25% {
        transform: rotate(-10deg) scale(1.1); /* Tilt left and zoom in slightly */
    }
    100% {
        transform: rotate(0deg) scale(1); /* Back to center at normal size */
    }
    75% {
        transform: rotate(10deg) scale(0.9); /* Tilt right and zoom out slightly */
    }
    100% {
        transform: rotate(0deg) scale(1); /* Back to center at normal size */
    }
}



.succMsg h3 {
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 400;
}
.drawdate p {
    font-size: 1.5rem;
    text-align: center;
    margin: 3rem 0;
}

/* Popup */
.termsClick {
    cursor: pointer;
}
.termsspl p.termsClick {
    font-size: 12px;
    text-align: center;
    margin: 1rem 0 2rem 0;
}
.popupOuter {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0;
    transition: opacity .4s ease-in;
}
.popupOuter.show {
    display: block;
    opacity: 1;
}
.popupWraper {
    width: 500px;
    max-width: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 3rem 1.5rem;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 8px 1px #000000;
    box-shadow: 1px 1px 8px 1px #000000;
}
.popupWraper h6 {
    color: #333333;
    font-size: .9rem;
    border-bottom: 1px solid #333333;
    padding-bottom: 1rem;
}
.popupWraper h3 {
    font-weight: bold;
}
.popupWraper h4 {
    font-size: 1rem;
    font-weight: bold;
}
.popupWraper h5 {
    font-size: .85rem;
    font-weight: bold;
}
.popupContent {
    color: #333333;
    font-size: 1.1rem;
    line-height: 2rem;    height: 350px;    overflow-y: scroll;
    padding-right: 15px;
    margin-top: 15px;
}
.popupContent::-webkit-scrollbar {
    width: 8px;
}
 
.popupContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.0);
}
 
.popupContent::-webkit-scrollbar-thumb {
  background-color: #B3B3B3;
  outline: none;
}
.popupClose {
    font-size: 2rem;
    font-weight: 700;
    color: #B3B3B3;
    width: max-content;
    position: absolute;
    right: calc(4rem + 15px);
    top: 2rem;
    cursor: pointer;
}
.msgclose {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
}

section.prize-details {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
#prize {
    width: 450px;
    max-width: 80%;
    background: #fff;
    padding: 2.2rem 1.8rem .25rem;
    border-radius: 8px;
    position: relative;
}
#prize h2 {
    font-size: 2.7rem;
    color: #221f20;
    margin-bottom: 1rem;
}
#prize h4 {
    font-size: 1.5rem;
    color: #221f20;
    margin-bottom: 1rem;
    line-height: 2.2rem;
    text-align: center;
}
.calender {
    width: 200px;
    max-width: 90%;
}
a.download-calender {
    color: #221f20;
    text-decoration: none;
    border: 1px solid #221f20;
    padding: 5px 11px;
    display: block;
    margin: .5rem auto 1.2rem;
    width: 90px;
    text-align: center;
}
a.download-calender:hover {
    color: #fff;
    background-color:#221f20 ;
}
.prize-desclaimer p {
    text-align: center;
    font-size: .75rem;
    margin-bottom: 1rem;
}
.prize-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 15px;
    height: 10px;
    color: #808080;
    font-size: 1.4rem;
    text-decoration: none;
}
.prize-close:hover {
    color: #000;
}
.actionBtn, a.downloadbtn {
    position: relative;
    border: 0;
    outline: 0;
    margin-top: .85rem;
display: block;
transition: transform .2s;
}
/* .actionBtn:hover, a.downloadbtn:hover {
    transform: scale(1);
} */
#submit-button.actionBtn, #submit-receipt {
    cursor: pointer;
    background: #009541;
    color: #fff;
    border: 1px solid #fff;
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 8px;
    font-weight: 700;
}
#reset-button.actionBtn {
    cursor: pointer;
    background: #808080;
    border: 1px solid #fff;
    color: #fff;
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 8px;
    font-weight: 700;
    margin-left: 10%;
}
.actionBtn{
    cursor: pointer;
    background: #000;
    color: #fff;
    padding: .75rem 2.85rem;
    font-size: 1.25rem;
    border-radius: 8px;
}
a.downloadbtn {
    cursor: pointer;
    background: #000;
    color: #fff;
    padding: .75rem;
    font-size: .85rem;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
}
.actionBtn span {
    z-index: 2;
    position: relative;
}
/* #spinButton::after, .spin-againB::after, .actionBtn::after {
    content: "";
    background: url('../images/button-overlay.svg') no-repeat bottom center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: multiply;
} */

p.disclaimer {
    margin: 2rem 0;
}
img.recipebook {
    max-height: 250px;
    width: auto;
    height: 100%;
}
.select-lang {
    padding: 0 3rem;
}
.ramadan {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.ramadan img {
    width: 450px;
    max-width: 90%;
}



/* SPINNER ENDS */

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

  .homepage .terms {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    animation: fadeIn 3s ease-in-out forwards;
}
.invoice-wraper h3 {
    font-size: 1.6rem;
}
.langselecter {
    line-height: 1.8rem;
    font-size: 1.35rem;
}
span.arabic.text-medium.text-center.text-white.langselecter {
    font-size: 1.8rem;
}

/* Media Query */
@media only screen and (min-width: 1366px) {
    .win-cash img {
        max-width: 350px;
        margin-left: auto;
    }
}
@media only screen and (min-width: 992px) {
    .win-cash img {
        max-width: 300px;
        margin-left: auto;
    }
}

@media only screen and (min-width: 768px) { 
  
    .form-page .win-cash img {
        width: 380px;
        max-width: 90%;
        margin: auto;
    }
    .win-cash img {
        max-width: 400px;
        margin: auto;
    }
    .win-cash .product-img img {
        max-width: 300px;
        margin: auto;
    }
 
    .homepage .main .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        margin: 0 auto;
        /* height: 64vh; */
    }
    .homepage .win-cash {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .goals-col {
        height: 50px;
    }

}
@media only screen and (max-width: 767px) { 

    .spinner::before { 
        top: -25px;
    }
    .hide-sm {
        display: none;
    }
    .sm-only {
        display: flex;
    }
    .fontsize15  {
        font-size: 2rem !important;
        line-height: 2.2rem;
    }
    .goals-col {
        height: 50px;
    }



    .homepage .win-cash {
        justify-content: right;
        align-items: center;
        margin: 1rem 0;

    }
  .hom
    .form-terms .lead {
        font-size: 1.2rem;
    }
    .win-cash h2 {
        font-size: max(2.5vh, 15px);
        line-height: max(2.8vh, 17px);
    }
    .win-cash .termsspl {
        width: 100%;
        max-width: 85vw;
        text-align: center;
    }
    .win-cash img {
        max-height: 23vh;
        height: auto;
        margin: 1rem 0;
    }
    .termsspl img {
        max-height: 4.8vh;
    }
    .select-lang a {
        margin: 1vh 0;
    }
   

    #spin-page {
        display: flex;
        flex-direction: column;
        margin: 0 auto auto auto;
        height: 100%;
        min-height: 90vh;
    }
    #spin-page .main {
        margin-top: auto;
    }
    .spinner {
        position: relative;
        width: 280px;
        height:280px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    .spinner::before {
        content: "";
        width: 35px;
        height: 55px;
    }
    .base {
        width: 130px;
    }
    #airfryer {
         padding: 0 15px !important;
    }
    div#airfryer h2.text-heavy.text-center.fontsize25 {
        max-width: 100%;
        text-align: center;
        font-size: 1.7rem;
    }
    div#airfryer h2.text-heavy.text-center.fontsize25 small {
        display: block;
        font-size: 1.5rem;
        width: 100%;
    }
}
@media only screen and (max-width: 480px) { 
    html {
        font-size: 12px !important;
    }
    .retailers {
        width: 280px;
    }
    
    .retailers a {
        width: 140px;
    }
    
}
@media only screen and (max-width: 420px) { 
    
    .win-cash h2 {
        font-size: max(3vh, 18px);
        line-height: max(3.2vh, 20px);
    }
    .retailers {
        width: 300px;
    }
    
    .retailers a {
        width: 150px;
    }
}
@media only screen and (max-width: 380px) { 
    html {
        font-size: 9px !important;
    }
    .fontsize25 {
        font-size: 2.15rem !important;
    }
    .fontsize15 {
        font-size: 1.8vh !important;
    }
    .win-cash {
        margin: max(25vh, 245px) 0 1rem 1rem;
    }
    .retailers {
        width: 200px;
    }
    
    .retailers a {
        width: 100px;
    }
    .snickers-logo {
        width: 120px;
    }
    .alnassr-logo {
        width: 35px;
    }
    img#football {
        width: 40px;
    }
    #goalpost {
    width: 180px;
}
.goals-col {
    height: 35px;
}
}



@keyframes moveAndFadeIn {
    0% {
        left: -50%;
        opacity: 0;
    }
    100% {
        left: 0%;
        opacity: 1;
    }

}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
@keyframes tilt {
    0%, 100% {
        transform: rotate(0deg) ;
    }
    50% {
        transform: rotate(2deg) ;
    }
}
@keyframes tiltTranslate {
    0%, 100% {
        transform: rotate(0deg) translateY(0);
    }
    50% {
        transform: rotate(2deg) translateY(5px);
    }
}